body { /*This is for the home page background color */
  background-color: #DECDB0;
}

/*This is for the nav bar ######################################*/

li a:hover { /*will highlight box black when clicked on to show where user is*/
background-color: grey;
}


ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #DAA900;;
box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

li {
float: left;
width: 20%;
}

li a {
display: block;
color: white;
text-align: center;
padding: 12px 16px;
text-decoration: none;

}

/* Add a color to the active/current link */
.navBar a.active {
  background-color: #04AA6D;
  color: white;
}

/*This is for the header #######################################*/

.header {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* border: 2px solid black; */
  text-align: center;
}
























/* Callout box - fixed position at the bottom of the page */
.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

/* Callout header */
.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}

/* Callout container/body */
.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}

/* Close button */
.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Change color on mouse-over */
.closebtn:hover {
  color: lightgrey;
}