body { /*This is for the home page background color */
    background-color: #DECDB0;
}

/*This is for the nav bar ######################################*/

li a:hover { /*will highlight box black when clicked on to show where user is*/
  background-color: grey;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DAA900;;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

li {
  float: left;
  width: 20%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  
}

/*This is for the header #######################################*/

.header {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border: 2px solid black; */
    text-align: center;
}

/*This is for the left box #######################################*/

#title  {
    font-size: 40px;
    text-align: center;
  }
  
  div.topBox {
    overflow: hidden;
    /* overflow-y: scroll; */
    font-size: 24px;
    /* width: 2000px; */
    position: absolute;
    /* top:0;
    bottom:0;
    right:0;
    left: 0; */
    /* margin-left:10%;
    margin-top: 10%; */


    
    margin-left: 10vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-right: 5vh;
    width: 100vh;
    height: 50vh;   /* this is the current working model.. this resizes just not exactly */





    /* width: calc(100vh - 70px); */
    /* width: 40%; */
    /* width: auto; */
    /* max-width: 40%;
    max-height: 40%; */
    /* height: 50%; */
    /* height: calc(100vh - 380px); */
    
    background-color: #ccc;
    background-size: cover;
    /* background-repeat: repeat; */
    border: 3px solid blue;
  } 
  
  
  /*This is for the picture on right #######################################*/
  
  
  #container {
    width: 25%;
    height: 30%;
    margin-left: 60%;
    margin-top: 5%;
  }
  
  /* This fixes the image to the right and text to the left while resizing ###############*/
  
  
  /* This section covers the table ###############*/
  
  table,th, td {
    margin-top: 5%;
    margin-left: 5%;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  /* This section covers the table ###############*/
  
.fill-height-or-more {
    display: flex;
    flex-direction: column;
}

.fill-height-or-more > div {
    flex : 1;

    display: flex;
  justify-content: center;
  flex-direction: column;
}
  