body { /*This is for the home page background color */
    background-color: #DECDB0;
}

/*This is for the nav bar ######################################*/

ul {
  list-style-type: none;
  margin: 0;
  /* margin-left:300px; */
  margin-right: 22.8%;
  margin-left: 22%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

  
/* Change the link color on hover */
li a:hover {
  background-color: #C5DEB0;
}

/*This is for the nav bar #######################################*/



/*This is for the header #######################################*/

.header {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border: 2px solid black; */
    text-align: center;
}

/*This is for the header #######################################*/


/*This is for the left column #######################################*/

.column {
    float: left;
    margin-left:5%;
    width: 50%;
}
.column p {
  font-family: 'Times New Roman', Times, serif;

  font-size: 25px;
}

h2{
  padding-left: 100px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

/*This is for the right column #######################################*/
#mypc img {
  max-width: 400px;
  max-height: 500px;
  object-fit: contain;
  position:absolute;
  top: 20%;
  left: 65%;
}


table,th, td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}