
body { /*This is for the home page background color */
  background-color: #DECDB0;
}

/*This is for the nav bar ######################################*/

li a:hover { /*will highlight box black when clicked on to show where user is*/
background-color: grey;
}


.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DAA900;;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  } 

/* ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #DAA900;;
box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
} */

li {
float: left;
width: 20%;
}

li a {
display: block;
color: white;
text-align: center;
padding: 12px 16px;
text-decoration: none;

}

/* Add a color to the active/current link */
.navBar a.active {
  background-color: #04AA6D;
  color: white;
}
/*This is for the header #######################################*/

.header {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* border: 2px solid black; */
  text-align: center;
}

/*This is for the left box #######################################*/

#title  {
font-size: 60px;
margin-top: 4%;
text-align: center;
}

.box1 {
  font-size: 30px;
}
.grid-container {
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  /* background-color: #2196F3; */ /*~testing*/
  padding: 10px;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */ /*~testing*/
  text-align: center;
  padding: 20px 0;
  /* font-size: 30px; */
}


/*This is for the picture on right #######################################*/

#container {
  margin-left: 10%;
  text-align: center;
  width: 60%;
  height: 60%;
}

/* This fixes the image to the right and text to the left while resizing ###############*/


.fill-height-or-more {
display: flex;
flex-direction: column;
/* min-width: 100px;
min-height: 10px; */
}

.fill-height-or-more > div {
/* flex : 1; */

display: flex;
justify-content: center;
flex-direction: column;
}

/* This fixes the image to the right and text to the left while resizing ###############*/


/* This section covers the reason to stream section ###############*/

.list {
  font-size: 25px;
  margin-left: 1%;
  margin-bottom: 10%;
}

.info {
  display:  inline;
  border: 1px dotted #000;
  border-width: 2px;
  padding: 1em;
}

#listTitle {
  margin-left: 41%;
}

/* This section covers the reason to stream section ###############*/


/* This section covers the table ###############*/

#tableTitle {
  font-size:xx-large;
  font-style: oblique;
  color: red;
  text-align: center;
  margin-top: 4%;
  /* margin-left: 30%;
  margin-top: 5%;
  /* margin-bottom: 10%; */
}

table,th, td {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  }

.myspecs {
  margin-right: 5%;
}

/* This section covers the table ###############*/
