body { /*This is for the home page background color */
    background-color: #DECDB0;
}

/*This is for the nav bar ######################################*/

li a:hover { /*will highlight box black when clicked on to show where user is*/
  background-color: grey;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DAA900;;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

li {
  float: left;
  width: 20%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  
}




/*This is for the nav bar #######################################*/



/*This is for the header #######################################*/

.header {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border: 2px solid black; */
    text-align: center;
}

/*This is for the header #######################################*/


/* This fixes the image to the right and text to the left while resizing #############*/


#title  {
  font-size: 40px;
  text-align: center;
}


div.topBox {
  font-size: 24px;
  /* width: 2000px; */
  position: absolute;
  left: auto;
  margin-left:10%;
  margin-top: 10%;
  width: 40%;
  /* width: auto; */
  /* max-width: 40%;
  max-height: 40%; */
  height: auto;
  
  background-color: #ccc;
  border: 3px solid blue;
} 


/*This is for the picture on right #######################################*/


#container {
  width: 25%;
  height: 30%;
  margin-left: 60%;
  margin-top: 5%;
}

/* This fixes the image to the right and text to the left while resizing ###############*/


/* This section covers the table ###############*/

table,th, td {
  margin-top: 5%;
  margin-left: 5%;
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

/* This section covers the table ###############*/



