
#calc_Title {
    margin-top: 2%;
    margin-left: 42%;
}

.fakeScreen {
    height: 100px;
    width: 450px;
    margin-left: 33%;
    background-color: lightslategrey;
    opacity: 30%;
}

.button-container {
    width: 520px;
    background: gray;
    margin-top: 3%;
    margin-left: 30.5%;
    /* overflow-y: auto; */
}

.button-container > button {
    font-size: 20px;
    width: 90px;
    height: 90px;
    float: center;
    background: blanchedalmond;   
    margin: 15px;
}

/* This is for the calculator background */

/* This is for the display section */



/* This is for the display section */
